    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="home.html">
            <img src="static/icons/Logo.png" alt="DEV WEB" width="45" height="45">
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="submit_log.html">add to dev</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="team_manage.html">manage teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="sign_out">logout</a>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" role="search" aria-label="search">
                <button class="btn btn-outline-success" type="submit">search</button>
            </form>
          </div>
        </div>
      </nav>